@import "../../Styles/variables";
@import "../../Styles/mixins";

.PreservationModal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 105%;
  background-color: rgba($color: #000000, $alpha: 0.2);
  z-index: 4;
  @include flex-box;

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
  }

  .preservation {
    width: 65%;
    height: 45%;
    margin-right: 5%;
    background-color: $cases-color;
    border-radius: 10px;
    border: none;
    padding: 30px;
    @include flex-box($direction: column, $justify: flex-start, $gap: 20px);
    z-index: 6;
    overflow-y: scroll;

    animation-name: ballRush;
    animation-duration: 0.4s;
    animation-timing-function: ease-in;
    animation-delay: 0s;

    &::-webkit-scrollbar {
      display: none;
    }

    .surname,
    .date,
    .hour {
      @include flex-box($direction: column, $gap: 5px);
      label {
        color: $primary-color;
      }
    }

    input {
      border-radius: 5px;
      padding: 8px;
      background-color: $secondary-color;
      border: none;
      border-bottom: 2px solid $primary-box-shadow;
      width: 180px;
      transition: 0.4s;
      box-shadow: 4px 2px 4px $secondary-box-shadow;

      animation-name: inputRush;
      animation-duration: 0.4s;
      animation-timing-function: ease-in;
      animation-delay: 0s;
    }

    .preserveBtn:hover {
      cursor: pointer;
      background-color: $buttons-hover-color;
    }
  }
}

@media screen and (min-width: 770px) {
  .PreservationModal {
    width: 100%;

    .preservation {
      width: 60%;
      height: auto;
      margin-right: 0;

      input {
        width: 220px;
      }
    }
  }
}

@keyframes ballRush {
  from {
    height: 25px;
    width: 25px;
    border-radius: 100%;
  }
}

@keyframes inputRush {
  from {
    width: 0;
  }
}
