@import "../../Styles/variables";
@import "../../Styles/mixins";

.PopUp {
  position: fixed;
  bottom: 5px;
  left: 5px;
  background-color: $cases-color;
  width: 200px;
  height: 150px;
  color: $primary-color;
  text-align: center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-family: sans-serif;
  @include flex-box;
  padding: 10px;
  font-size: 15px;
  z-index: 8;
  transition: 0.2s;
  border: 0.6px solid $primary-color;

  animation-name: popRush;
  animation-duration: 0.4s;
  animation-timing-function: ease-in;
  animation-delay: 0s;

  &:after {
    content: "";
    position: absolute;
    left: 0.5%;
    bottom: 0%;
    width: 0;
    height: 0;
    border: 10px solid $cases-color;
    background-color: $cases-color;

    animation-name: afterRush;
    animation-duration: 0.4s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
  }
}

@keyframes popRush {
  from {
    height: 25px;
    width: 25px;
    border-radius: 100%;
    font-size: 0px;
  }
}

@keyframes afterRush {
  from {
    border: 0;
  }
}
