// colors

$primary-color: rgb(20, 20, 20);
$secondary-color: white;
$cases-color: hsl(51, 100%, 95%);
$buttons-hover-color: #ffea71;
$primary-box-shadow: #717171;
$secondary-box-shadow: #ffffff66;

// css utils

$footer-length: 70px;
