@import "../../Styles/variables";
@import "../../Styles/mixins";

.CocktailCard {
  height: 250px;
  width: 200px;
  background-color: $secondary-color;
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 3px 3px 5px $secondary-box-shadow;
  border: 1px solid $primary-color;
  color: $primary-color;

  .cardImage {
    @include fit-image($height: 50%, $width: auto);
    padding: 8px;
    background-color: $cases-color;
    cursor: pointer;
  }

  h3 {
    cursor: pointer;
    text-decoration: underline;
  }
}

.cocktailInformations {
  position: absolute;
  width: 80%;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  background-color: $cases-color;
  box-shadow: 4px 4px 5px $primary-box-shadow;
  text-align: center;
  padding: 5px;
  @include flex-box($justify: flex-start);

  ul {
    @include flex-box($direction: column, $gap: 2px);
    width: 100%;
    padding: 0px 15px 0px 0px;
    font-size: 14px;
  }

  li {
    width: 80%;
    border-bottom: 1px solid $primary-box-shadow;
    align-self: flex-end;
  }
}
