@import "../../Styles/variables";
@import "../../Styles/mixins";

.Navbar {
  width: 100%;
  @include flex-box($justify: space-between);
  padding: 6px;
  font-size: 14px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: $primary-color;

  a {
    text-decoration: none;
    color: $secondary-color;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    list-style: none;
    @include flex-box($gap: 10px);
  }

  .logo {
    cursor: pointer;
    height: 25px;
    width: 25px;
  }

  img {
    @include fit-image;
  }
}

@media screen and (min-width: 400px) {
  .Navbar {
    ul {
      font-size: 16px;
    }

    .logo {
      height: 50px;
      width: 50px;
    }
  }
}
