@import "../../Styles/variables";
@import "../../Styles/mixins";

.Navbar {
  width: 100%;
  @include flex-box($justify: space-between);
  padding: 6px;
  font-size: 14px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: $primary-color;

  a,
  li {
    text-decoration: none;
    color: $secondary-color;
    cursor: pointer;
    @include flex-box($gap: 3px);

    &:hover {
      border-bottom: 1px solid $primary-box-shadow;
    }

    img {
      height: 20px;
      width: 20px;
    }
  }

  .alphabetOrder {
    position: fixed;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    background-color: $primary-color;
    top: 20%;
    left: -100vw;
    color: $secondary-color;
    @include flex-box($gap: 10px, $wrap: wrap);
    font-size: 20px;
    transition: 0.4s;

    .singleLetter {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
        transform: scale(1.2);
        color: $cases-color;
      }
    }
  }

  .activeAlphabet {
    left: 28%;
  }

  .activateSearch {
    height: 20px;
    width: 25px;
    @include flex-box;
    cursor: pointer;

    .searchActivator {
      @include fit-image;
    }
  }

  ul {
    list-style: none;
    @include flex-box($gap: 10px);
  }

  .searchBar {
    display: none;
    width: 30%;
    background-color: $primary-color;

    .search,
    .searchBtn {
      border-radius: none;
      border: none;
      padding: 5px;
      outline: none;
    }

    .searchBtn {
      cursor: pointer;
      transition: 0.4s;
    }

    .searchBtn:hover {
      background-color: $primary-box-shadow;
      color: $secondary-color;
    }
  }

  .logo {
    cursor: pointer;
    height: 25px;
    width: 10%;
  }

  img {
    @include fit-image;
  }
}

@media screen and (min-width: 400px) {
  .Navbar {
    ul {
      font-size: 16px;
    }

    .logo {
      height: 50px;
      width: 50px;
    }
  }
}

@media screen and (min-width: 768px) {
  .Navbar {
    .activateSearch {
      display: none;
    }

    .searchBar {
      display: flex;
    }
  }
}
