@import "../../Styles/variables";

.HeroNav {
  margin-top: 25px;
  color: $secondary-color;
  width: 105%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: $secondary-color;
  color: $primary-color;

  h1 {
    font-family: cursive;
    color: rgb(132, 76, 254);
    margin: 25px 0px 0px 0px;
  }

  hr {
    width: 80%;
    border: 0;
    border-bottom: 4px dotted $primary-color;
  }

  .types {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 10px;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid $secondary-color;
    background-color: $secondary-color;
    height: 45%;

    li {
      color: $primary-color;
      height: 40px;
      width: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: 0.4s;
      border-radius: 4px;
      padding: 10px;

      &:hover {
        background-color: $cases-color;
      }
    }

    img {
      height: 30px;
      width: 30px;
    }
  }

  .categories {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 100%;
    font-size: 12px;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid $secondary-color;
    background-color: $secondary-color;
    height: 45%;

    li {
      color: $primary-color;
      height: 40px;
      width: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: 0.4s;
      border-radius: 4px;
      padding: 5px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  @media screen and (min-width: 768px) {
    .HeroNav {
      margin-top: 80px;
      padding: 20px;
    }

    .types {
      li {
        height: 80px;
        width: 80px;
        font-size: 16px;
      }
    }

    .categories {
      font-size: 16px;
    }
  }
}
