.HeroNav {
  margin-top: 25px;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: white;
  color: black;

  h1 {
    font-family: cursive;
    color: rgb(132, 76, 254);
    margin: 15px;
  }

  ul {
    margin: 0;
  }

  hr {
    width: 100%;
    border-bottom: 2px dotted black;
  }

  .types {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 10px;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid white;
    background-color: white;
    height: 45%;
  }

  .types li {
    color: black;
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 4px;
    padding: 5px;

    &:hover {
      background-color: rgb(255, 251, 229);
    }
  }

  img {
    height: 30px;
    width: 30px;
  }
}

.categories {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 12px;
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid white;
  background-color: white;
  height: 45%;
}

.categories li {
  color: black;
  height: 40px;
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 4px;
  padding: 5px;

  &:hover {
    text-decoration: underline;
  }
}

@media screen and (min-width: 768px) {
  .categories {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .HeroNav {
    margin-top: 60px;
  }
}
