@import "../../Styles/variables";
@import "../../Styles/mixins";

.HeroNav {
  @include flex-box($direction: column);
  margin-top: 25px;
  color: $secondary-color;
  width: 105%;
  padding: 10px;
  background-color: $secondary-color;
  color: $primary-color;
  border-bottom: 1px solid $primary-color;

  h1 {
    font-family: cursive;
    @include general-color(170deg);
    background-clip: inherit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 20px 0px 0px 0px;
    user-select: none;
  }

  hr {
    width: 80%;
    border: 0;
    border-bottom: 4px dotted $primary-color;
  }

  .types {
    list-style: none;
    @include flex-box($justify: space-around);
    width: 100%;
    font-size: 10px;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid $secondary-color;
    background-color: $secondary-color;
    height: 45%;

    li {
      color: $primary-color;
      height: 40px;
      width: 40px;
      @include flex-box($direction: column);
      cursor: pointer;
      transition: 0.4s;
      border-radius: 4px;
      padding: 10px;

      &:hover {
        background-color: $cases-color;
        text-decoration: underline;
      }
    }

    img {
      @include fit-image;
    }
  }

  .categories {
    list-style: none;
    @include flex-box($justify: space-evenly, $gap: 10px);
    width: 100%;
    font-size: 12px;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid $secondary-color;
    background-color: $secondary-color;
    height: 45%;

    li {
      color: $primary-color;
      height: 40px;
      width: 40px;
      @include flex-box($direction: column);
      cursor: pointer;
      transition: 0.4s;
      border-radius: 4px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
@media screen and (min-width: 770px) {
  .HeroNav {
    margin-top: 50px;
    padding: 20px;
    width: 100%;

    h1 {
      font-size: 50px;
    }

    .types {
      li {
        height: 80px;
        width: 80px;
        font-size: 16px;
      }
    }

    .categories {
      font-size: 16px;
    }
  }
}
