@import "../../Styles/variables";
@import "../../Styles/mixins";

.Footer {
  background-color: $primary-color;
  width: 105%;
  height: $footer-length;
  color: $secondary-color;
  @include flex-box;
  position: absolute;
  bottom: 0px;
  left: 0px;

  ul {
    list-style: none;
    @include flex-box($justify: space-evenly, $gap: 20px);
    font-size: 10px;
    width: 100%;

    & li:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: 770px) {
  .Footer {
    width: 100%;
    ul {
      font-size: 16px;
    }
  }
}
