body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(161, 13, 246);
  background: linear-gradient(
    180deg,
    rgba(161, 13, 246, 1) 20%,
    rgba(2, 221, 251, 1) 100%
  );
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
