@import "./Styles/mixins";
@import "./Styles/variables";

body {
  @include general-color;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  color: $primary-color;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  color: $primary-color;
  background-color: $buttons-hover-color;
}
