.MainList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 80px;
  padding: 10px;
  width: 105%;
}

@media screen and (min-width: 770px) {
  .MainList {
    width: 100%;
  }
}
