@import "../../Styles/mixins";

.MainList {
  @include flex-box($justify: space-around, $gap: 80px, $wrap: wrap);
  padding: 10px;
  width: 105%;
}

@media screen and (min-width: 770px) {
  .MainList {
    width: 100%;
  }
}
